body{
	background-image:url("img/513632118_801579.gif");
}
h1{
	text-align:center;
	border-style:dashed;
	border-color:black;
	background-color:#ffa31a;
	margin-bottom:0px;
	
}
.vert{
	color:#00ff00;
}
.bleu{
	color:#00ccff
	
}
